@import "tailwindcss";

@theme {
  --color-primary: #0d9488;
  --color-primary-light: #13daec;
  --color-primary-dark: #0f766e;
  --color-background-light: #f8fafc;
  --font-sans: "Montserrat", "Inter", sans-serif;
  --font-serif: "Playfair Display", serif;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #0d9488;
}
